%headding
{
    font-family: $font-family;
    font-weight: 700;
    color: $color-black-1;
    text-transform: uppercase;
}


.headding-1
{
    @extend %headding;
    font-size:$font-size-1;

    @include media(phone)
    {
        font-size: $font-size-2;
    }
}


.heading-2
{
    @extend %headding;
    font-size:$font-size-2;
    color: $color-secondary-dark-1;
    text-transform: capitalize;

    @include media(phone)
    {
        font-size:$font-size-2-3;
    }
}

.heading-3
{
    @extend %headding;
    font-size:$font-size-3;
    color: $color-secondary-dark-1;
    @include media(phone)
    {
    }
}

.heading-4
{
    @extend %headding;
    font-size:$font-size-3;
    font-weight: 300;
    color: $color-secondary-dark-1;
}



.paragraph
{
    line-height: 2;
    font-size: $font-size-3;
    color: $color-secondary-dark-2;
}



.headding-line
{
    @extend %headding;
    font-size:$font-size-1;
    display: grid;
    grid-template-columns: 10vw max-content 10vw;
    grid-column-gap: 1.5rem;
    align-items: center;
    justify-content: center;
    &::after,
    &::before
    {
        content: "";
        height: 1px;
        display: block;
        background-color: $color-primary;
    }

    @include media(phone)
    {
        font-size: $font-size-2;
    }
}