<!<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Abdulfatttah khudari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
    <!-- <script src="./sass/main.scss"></script> -->
</head>

<body id="main">
    <!--navbar section-->
    <nav class="navbar">
        <div class="logo-box">
            <img src="./img/logo.png" alt="logo" class="logo">
        </div>
        <ul class="list ml-auto hide">
            <li class="list__item">
                <a href="#main" class="list__link" data-scroll="main">
                    الصفحة الرئيسية
                </a>
            </li>
            <li class="list__item">
                <a href="#about" class="list__link" data-scroll="about">
                    تواصل معنا
                </a>
            </li>
            <li class="list__item">
                <a href="#projects" class="list__link" data-scroll="projects">
                    خدماتنا
                </a>
            </li>
            <li class="list__item">
                <a href="#projects" class="list__link" data-scroll="projects">
                    الاشتراكات
                </a>
            </li>
        </ul>
        <ul class="list mr-auto">
            <li class="list__item list__item-input hide">
                <input type="text" class="form__input" placeholder="ابحث عما تريد">
            </li>
            <li class="list__item list__item-input">
                <div class="user-profile">
                    <img src="./img/search.svg" alt="user profile">
                </div>
            </li>
            <li class="list__item list__item-btn">
                <div class="user-profile">
                    <img src="./img/user-profile.svg" alt="user profile">
                </div>
            </li>
            <li class="list__item list__item-btn">
                <button class="btn btn__primary btn__sm">اشتراك</button>
            </li>
        </ul>
        <div class="navbar__toggle-button">
            <input type="checkbox" id="click">
            <label for="click" class="menu__btn">
                <span class="menu__icon">&nbsp;</span>
            </label>

            <section class="menu-section">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#certificates" class="menu-list__link" data-scroll="certificates">
                                الاشتراكات
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </nav>

    <div class="container">
        <!--section title-->
        <section class="subscription">
            <h1 class="headding-1 headding-line">
                الاشتراكات
            </h1>
            <div class="subscription__content">
                <h1 class="headding-2 border-bottom padding-bottom-u-s">
                    الاشتراكات الرقمية
                </h1>
                <div class="grid margin-bottom-u-m margin-top-u-m">
                </div>
            </div>
        <div class="subscription__additional-info">
            <h2 class="heading-2 margin-bottom-u-vs">
                يمكنك تحميل تطبيق هارفارد بزنس ريفيو من هنا
            </h2>

            <div class="btn-group margin-bottom-u-s">
                <div class="btn__social">
                    <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                    <img src="/img/play-store.svg" alt="playstore icon">
                </div>
                <div class="btn__social">
                    <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                    <img src="/img/play-store.svg" alt="playstore icon">
                </div>
            </div>

            <ul class="list no-hover margin-bottom-u-s">
                <li class="list__item">
                    <a href="">الشروط والاحكام</a>
                </li>
                <li class="list__item">
                    .
                </li>
                <li class="list__item">
                    <a href="">الاسئلة الشائعة</a>
                </li>
            </ul>

            <div class="technical-support">
                <h2 class="heading-2 margin-bottom-u-s">
                    إذا كان لديك أي استفسار يمكنك التواصل معنا
                </h2>
                <div class="btn btn__icon margin-bottom-u-s">
                    <img src="/img/wrench.svg" alt="" class="invert">
                    <span>
                        الدعم الفني
                    </span>
                </div>
                <div class="btn btn__icon margin-bottom-u-vs custom-button">
                    <img src="/img/twitter.svg" alt="" class="brightness">
                    <span>
                        أو ببساطة غرد بسؤالك    ل
                        @hbrar
                        وسنقوم بالرد عليك فورا
                    </span>
                </div>
            </div>
        </div>
        </section>


        <footer class="footer">
            <div class="footer__header margin-bottom-u-s">
                <div class="footer__social-media">
                    <a class="icon1" href="www.facebook.com">
                        <img src="/img/social1.png" alt="">
                    </a>
                    <a class="icon2 mx-2"  href="www.facebook.com">
                        <img src="/img/social2.png" alt="">
                    </a>
                    <a class="icon3" href="www.facebook.com">
                        <img src="/img/social3.png" alt="">
                    </a>
                    <a class="icon4 ml-2" href="www.facebook.com">
                        <img src="/img/social4.png" alt="">
                    </a>
                </div>
                <div class="logo">
                    <img src="/img/logo.png" alt="logo svg">
                </div>
            </div>
            <div class="grid text-center border-bottom margin-bottom-u-s">
                <div class="grid__cell--1">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__cell--1">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="grid__cell--1">
                    <h3 class="heading-2 margin-bottom-u-vs">
                        تواصل معنا
                    </h3>
                    <ul class="menu-list">
                        <li class="menu-list__item">
                            <a href="#main" class="menu-list__link" data-scroll="main">
                                الصفحة الرئيسية
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#about" class="menu-list__link" data-scroll="about">
                                تواصل معنا
                            </a>
                        </li>
                        <li class="menu-list__item">
                            <a href="#projects" class="menu-list__link" data-scroll="projects">
                                خدماتنا
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            
            <div class="footer__download border-bottom">
                <h2 class="heading-2 margin-bottom-u-vs">
                    يمكنك تحميل تطبيق هارفارد بزنس ريفيو من هنا
                </h2>
    
                <div class="btn-group margin-bottom-u-s">
                    <a href="#" class="btn__social">
                        <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                        <img src="/img/play-store.svg" alt="playstore icon">
                    </a>
                    <a href="#" class="btn__social">
                        <p><span style="display: block;">Get it on</span> <span class="big-txt">Google Play</span></p>
                        <img src="/img/play-store.svg" alt="playstore icon">
                    </a>
                </div>
             </div>

             <div class="footer__bottom">
                 <p class="paragraph">جميع الحقوق محفوظة</p>
             </div>
        </footer>
    </div>

</body>



<script src="./node_modules/jquery/dist/jquery.js"></script>
<script src="./css/WOW-master/dist/wow.js"></script>
<script src="./js/jquery.js"></script>
<script>
    new WOW().init();
</script>


</html>