.btn {
  cursor: pointer;
  border-radius: $border-raduis;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  @include media(phone) {
    width: 16rem;
    height: 5rem;
  }
  &__primary {
    cursor: pointer;
    background-color: $color-primary;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    border:1px solid $color-primary;
    outline: none;
    &:hover,
    &:active,
    &:focus
    {
      background-color: unset;
      border:2px solid $color-primary;
      color: $color-primary;
    }
  }

  .btn__text {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
    font-size: $font-size-3;
  }

  &__secondary {
    cursor: pointer;
    color: $color-black-1;
    font-size: $font-size-3;
    background: unset;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    border: unset;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
    }
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 1rem;
      width: 1rem;
      transition: all .1s ease-in;
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  &__social {
    
    @include flex-box();
    text-transform: uppercase;
    text-align: left;
    background-color: #101010;
    color: $color-white-1;
    border-radius: $border-raduis;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

    text-decoration: unset;
    img {
      width: 20%;
      text-align: center;
      font-size: 28px;
      margin-right: 7px;
    }
    .big-txt {
      font-size: 1.3rem;
      text-transform: capitalize;
    }
  }

  &__icon {


    color: $color-white-1;
    font-weight: 500;
    background-color: $color-secondary-dark-1;
    justify-content: space-around;

    width: 18rem;
    height: 5rem;
    
    img { 
      width: 2.5rem;
      height: 2.5rem;
    }
    .invert {
      filter: invert(1);
    }
    .brightness {
      filter: brightness(100);
    }
  }

  &__arrow {
    margin-left: 0.5rem;
    @include media(phone) {
      width: 2.3rem;
      height: 1.3rem;
    }
  }

  &__sm {
    width: 8rem;
    height: 3rem;
    @include media(phone) {
      height: 4rem;
    }
  }

  &__lg { 
    width: 10rem;
    height: 6rem;
    font-size: $font-size-3;
    font-weight: 500;
  }

  &__block {
    display: block;
    width: 100%;
  }

  &__rotate {
    transform: rotate(180deg);
  }

}


#click {
  display: none;
}
