.card {
    width: 100%;
    background-color: $color-white-1;
    border:2px solid $color-secondary-dark-1;
    border-radius: $border-raduis-2;
    transition: all .2s;
    &__header {
        @include flex-box(column);
        border-bottom: 1px solid $color-secondary-dark-1;
        padding: 1rem 4rem;
    }

    &__body {

        @include flex-box(column);
        padding: 1rem 4rem;
        .price {
            @include flex-box();
            .headding-2 {
                color: $color-primary;
            }
        }

        @include media(phone) {
            border-bottom: 1px solid #8f8f8f;
        }

    }

    &__footer {
        display: none;
        @include media(phone) {
            display: block;
        }
    }


}