.footer
{
    padding:2rem 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $background-color-1;
    @include media(phone)
    {
        flex-direction: column;

        & > *
        {
            margin-bottom: 1rem;
        }
    }

    &__social-media
    {
        & a > *
        {
            display: inline-block;
            width: 3rem;
            height: 3rem;
            filter: brightness(0.6);

            &:not(:last-child)
            {
            margin-right: 1rem;
            }
        }
    }

    .btn__social {
        border:.01rem solid $color-white-1;
    }
    &__header {
        padding: 0 2rem;
        width: 100%;
        @include flex-box(row,center,space-between);
    }

    &__download {
        width: 100%;
        @include flex-box(column);

        @include media(phone) {
            .btn-group {
                width: 100%;
            }
        }
    }


    &__email
    {
        .heading-3
        {
            text-transform: lowercase;
        }
       
    }

    &__number
    {
        align-self: center;
    }

    .heading-2 {
        font-size: $font-size-3;
        color: $color-white-1;
    }

    .menu-list__link {
        filter: contrast(0.5);
        font-size: 1.3rem;
    }

    &__bottom {
        width: 100%;
        text-align: center;
        color: $color-white-1;
    }

    .logo {
        width: 7rem;
        height: 5rem;
        filter: invert(1);
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.footer__list {

    width: 100%;

    &-item {


        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between;

        img {
            width: 2rem;
            height: 2rem;
            filter: invert(1);
        }

    }
}