.v-list {
    list-style: none;
    list-style-type: none;
    &__item {
        @include flex-box('row','center','flex-start');
    }
    &__icon {
        
        width: 2.5rem;
        height: 2.5rem;

        img {
            width: 100%;
            height: 100%;
        }

    }
}